
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5ddc5d84284943cc8a4c.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-62d8140c64bde332766a.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-929004d91b7c07bedeea.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-12-14T18-12-33-0434.json
cmake-build-debug/.cmake/api/v1/reply/target-file_manager-Debug-4861ebf27bcf6cfe850a.json
cmake-build-debug/.cmake/api/v1/reply/target-FileSys-Debug-2c33104f79176fdab107.json
cmake-build-debug/.cmake/api/v1/reply/target-zVector-Debug-76ed9e096ea09674a531.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/file_manager.dir/src/main.c.o
cmake-build-debug/CMakeFiles/FileSys.dir/lib/FileSys.c.o
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/Stack.dir/lib/Stack.c.o
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/zVector.dir/lib/zvector/src/zvector.c.o
cmake-build-debug/libFileSys.a
cmake-build-debug/libStack.a
cmake-build-debug/libzVector.a
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-10850bd3684a488994b8.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-14b19b7d433b57969c93.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-a750c1bcaf3872479e54.json
cmake-build-release/.cmake/api/v1/reply/index-2022-12-14T18-12-33-0433.json
cmake-build-release/.cmake/api/v1/reply/target-file_manager-Release-76b404202ff5f8239f4e.json
cmake-build-release/.cmake/api/v1/reply/target-FileSys-Release-b4a0403e094432f1e726.json
cmake-build-release/.cmake/api/v1/reply/target-zVector-Release-782551df2c71b9f56e78.json
cmake-build-release/.ninja_deps
cmake-build-release/.ninja_log
cmake-build-release/build.ninja
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/rules.ninja
cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/
/cmake-build-release/
*.[oa]

